form {
  width: 100%;
}
/* Hide scrollbar since it flickers because of infinite scroll component */
.gamegrid {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.gamegrid::-webkit-scrollbar {
  display: none; /* WebKit */
}

dd {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
